<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chicago Oasis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C91BBA3D1CCBC05F005477D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C91BBA531CCBC060005477D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C91BBA5E1CCBC060005477D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
